{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Realisation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Illustration</th>
                <th>Date</th>
                <th>Commanditaire</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_realisation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.illustration }}</td>
                <td>{{ entity.date }}</td>
                <td>{{ entity.commanditaire }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.codePostal }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_realisation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_realisation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_realisation_create') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
