{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Realisation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ entity.illustration }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date }}</td>
            </tr>
            <tr>
                <th>Commanditaire</th>
                <td>{{ entity.commanditaire }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ entity.codePostal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_realisation_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_realisation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
