{% extends '::base.html.twig' %}

{% block body -%}
</div>
<div class="bloc-black-accueil">
    <div class="container">
        <div class="row">
            <div id="slider" class="span12">
                <div id='coin-slider'>
                        <a href="" target="_blank">
                            <img src='{{ asset('bundles/siccfront/img/beta.jpg') }}'>
                        <span>
                            Description for img01
                        </span>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
            <div class="span5 border-h3"></div>
            <div class="span2"><h3>Nos rubriques</h3></div>
            <div class="span5 border-h3"></div>
    </div>

    <div class="row" id="container-top-box-accueil">

            <div class="span4 top-box-accueil">
                <div class="inner">
                    <h4 class="top-box-accueil-title">Les réalisations</h4>
                    <p class="top-box-accueil-content">
                        <a href="{{ path('sicc_front_realisation') }}">
                            <img class="top-box-accueil-img" src="{{ asset('bundles/siccfront/img/beta.jpg') }}">
                        </a>
                    </p>
                </div>
            </div>

            <div class="span4 top-box-accueil">
                <div class="inner">
                    <h4 class="top-box-accueil-title">Les articles</h4>
                    <p class="top-box-accueil-content">
                        <a href="#">
                            <img class="top-box-accueil-img" src="{{ asset('bundles/siccfront/img/beta.jpg') }}">
                        </a>

                    </p>
                </div>
            </div>

            <div class="span4 top-box-accueil">
                <div class="inner">
                    <h4 class="top-box-accueil-title">Espace membre</h4>
                    <p class="top-box-accueil-content">
                        <a href="#">
                            <img class="top-box-accueil-img" src="{{ asset('bundles/siccfront/img/beta.jpg') }}">
                        </a>
                    </p>
                </div>
            </div>

    </div>

    <div class="row" id="content-second-bloc-acceuil">
        <div class="span12">
            <div>
                <h2>Qui sommes nous</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper dolor eu orci auctor mattis. Nullam eget pretium velit. Nullam vestibulum luctus sollicitudin. Mauris fermentum mauris urna, vel imperdiet nunc fringilla et. Aliquam consectetur malesuada dolor, accumsan aliquam est laoreet vitae. Duis vel sapien eget enim aliquet tempus suscipit vel arcu. Quisque mauris nibh, mollis id sodales at, egestas in tortor. Fusce a mi vel ante vehicula commodo. Sed et erat nunc. Suspendisse volutpat orci turpis, et pharetra libero suscipit ut. Nunc ullamcorper nisi ac enim semper, et dapibus nisl dictum. Nunc sollicitudin vulputate ligula at malesuada. Quisque luctus libero eros, egestas laoreet enim malesuada vehicula.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper dolor eu orci auctor mattis. Nullam eget pretium velit. Nullam vestibulum luctus sollicitudin. Mauris fermentum mauris urna, vel imperdiet nunc fringilla et. Aliquam consectetur malesuada dolor, accumsan aliquam est laoreet vitae. Duis vel sapien eget enim aliquet tempus suscipit vel arcu. Quisque mauris nibh, mollis id sodales at, egestas in tortor. Fusce a mi vel ante vehicula commodo. Sed et erat nunc. Suspendisse volutpat orci turpis, et pharetra libero suscipit ut. Nunc ullamcorper nisi ac enim semper, et dapibus nisl dictum. Nunc sollicitudin vulputate ligula at malesuada. Quisque luctus libero eros, egestas laoreet enim malesuada vehicula.
                </p>
            </div>
        </div>
    </div>
{% endblock body %}